<div class="vertical-center-parent">
	<div class="navbar-brand">
		<img src="{{"img/pfp_logo.svg" | site.baseurl}}" />
	</div>

	<ul class="navbar-child-container navbar-right">
		<li class="navbar-child">
			<a href="{{"/" | site.baseurl}}">Home</a>
		</li>
		<li class="navbar-child">
			<a href="{{"mentoring" | prepend: site.baseurl}}">Our Teams</a>
		</li>
		<li class="navbar-child">
			<a href="#">Our Events</a>
			<ul class="dropdown">
				<li><a href="{{"purdue-forums" | prepend: site.baseurl}}">Purdue First Forums</a></li>
				<li><a href="{{"boilerbotbattle" | prepend: site.baseurl}}">Boiler Bot Battle</a></li>
				<li><a href="{{"frc-kickoff" | prepend: site.baseurl}}">FRC Kickoff</a></li>
				<li><a href="{{"ftc-qualifier" | prepend: site.baseurl}}">FTC Qualifier</a></li>
				<li><a href="{{"fll-regional" | prepend: site.baseurl}}">FLL Qualifier</a></li>
			</ul>
		</li>
		<li class="navbar-child">
			<a href="https://boilerlink.purdue.edu/organization/purduefirstprograms/">BoilerLink</a>
		</li>
		<!--
		<li class="navbar-child">
			<a href="/calendar.html">Calendar</a>
		</li>
		-->
	</ul>
</div>
