{% if page.dark %}
<section class="secondary-section contact">
{% else %}
<section class="primary-section contact">
{% endif %}
	<div class="container">
		<h1>Contact Us!</h1>
			<form method="POST" action="https://formspree.io/pr@purduefirst.org">
	  			<input type="email" name="email" placeholder="Your email">
	  			<textarea name="message" placeholder="Your message"></textarea>
	  			<button type="submit">Send</button>
			</form>
	</div>
</section>
<script src="{{"/js/submit.js" | prepend: site.baseurl}}"></script>
