<div class="navbar">
	<div class="container">
		<div class="navbar-brand">
			<img src="img/pfp%20logo.png" />
		</div>
		<div class="vertical-center-parent">
			<ul class="navbar-child-container navbar-right">
				<li class="navbar-child">
					<a href="#">Home</a>
				</li>
				<li class="navbar-child">
					<a href="#">Our Teams</a>
					<ul class="dropdown">
						<li><a href="#">FLL</a></li>
						<li><a href="#">FTC</a></li>
						<li><a href="#">FRC</a></li>
					</ul>
				</li>
				<li class="navbar-child">
					<a href="#">Events</a>
				</li>
				<li class="navbar-child">
					<a href="#">BoilerLink</a>
				</li>
			</ul>
		</div>
	</div>
</div>
