<div class="navbar">
	<div class="container wide-container">
		<div class="navbar-brand">
			{{ page.title }}
		</div>
		<ul class="navbar-child-container navbar-right">
			<li class="navbar-child">
				<a href="#">Home</a>
			</li>
			<li class="navbar-child">
				<a href="#location">Location</a>
			</li>
			<li class="navbar-child">
				<a href="#schedule">Schedule</a>
			</li>
			<!-- <li class="navbar-child"> -->
			<!-- <a href="#travel">Travel</a> -->
			<!-- </li> -->
			<li class="navbar-child">
				<a href="{{ "/" | prepend: site.baseurl }}">PFP</a>
			</li>
		</ul>
	</div>
</div>
