.primary-section {
	.medium-hr {
		float: left;
		width: 50%;
		white-space: pre;
		content: "\a";
	}
	.hr-461 {
		border: 2px solid $accent-461;
	}
	.hr-1646 {
		border: 2px solid $accent-1646;
	}
	.hr-1747 {
		border: 2px solid $accent-1747;
	}
	.hr-4272 {
		border: 2px solid $accent-4272;
	}
}
