.section-hr {
	border: 2px solid #444444;
}
.medium-hr {
	float: left;
	width: 50%;
}
.frc-section-461 {
	hr {
		border: 2px solid $accent-461;
	}
}
.frc-section-1646 {
	hr {
		border: 2px solid $accent-1646;
	}
}
.frc-section-1747 {
	hr {
		border: 2px solid $accent-1747;
	}
}
.frc-section-4272 {
	hr {
		border: 2px solid $accent-4272;
	}
}
