/* forms style */
form {
	overflow: hidden;
}
input {
	margin-bottom: 8px;
}
input[type="text"], input[type="email"] {
	padding: 8px;
	display: block;
	font-size: 20px;
	border: none;
	border-bottom: 4px solid #888;
}
textarea {
	padding: 8px;
	display: block;
	font-size: 20px;
	border: none;
	border-bottom: 4px solid #888;
	width: 100%;
	height: 153px;
	margin-bottom: 8px;
}
input[type="text"]:hover, input[type="text"]:focus, input[type="email"]:hover, input[type="email"]:focus, textarea:hover, textarea:focus{
	border-bottom: 4px solid #d8b600;
	transition: border 0.5s;
}
input[type="submit"] {
	border-radius: 2px;
	background-color: white;
	border: none;
	color: #888;
	font-size: 18px;
	padding: 8px;
	display: block;
}
input[type="submit"]:hover {
	color: #d8b600;
	transition: color 0.5s;
}
