.container {
	max-width: 1024px;
	width: auto;
	margin: auto;
}
.wide-container {
	max-width: 100%;
}
section {
	box-sizing: border-box;
	padding-top: 8em;
	padding-bottom: 8em;
	padding-left: 2em;
	padding-right: 2em;
	width: 100%;
	p {
		line-height: 1.5;
	}
	img {
		height: 16em;
		width: auto;
		float: right;
		border-right: .5em solid #fff;
		margin: 2em;
	}
	img.floatless {
		float: none;
		height: auto;
		width: auto;
		margin: auto;
		max-width: 100%;
	}
	img.sponsor-logo {
		width: 24em;
		height: auto;
		max-width: 100%;
		border: none;
		float: none;
		display: block;
		margin: auto;
	}
}
.primary-section {
	width: 100%;
	background-color: #fff;
	color: black;

	hr {
		border: 2px solid #444444;
	}
	img {
		border-color: #444444
	}
}
.secondary-section {
	background-color: #444444;
	color: #fff;

	hr {
		border: 2px solid #ffffff;
	}
}

@media (max-width: 890px) {
	.medium-hr {
		width: 25%;
	}
}
