.container {
	max-width: 1024px;
	width: auto;
	margin: auto;
}
.wide-container {
	max-width: 100%;
}
section {
	display: block;
	clear: both;
	box-sizing: border-box;
	width: 100%;
	padding-top: 4em;
	padding-bottom: 4em;
	padding-left: 2em;
	padding-right: 2em;

	a {
		color: black;
	}
	p {
		line-height: 1.5;
	}
	ul.team-links {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	img {
		height: 16em;
		width: auto;
		float: right;
		border-right: .5em solid #fff;
		margin: 2em;
	}
	img.floatless {
		float: none;
		height: auto;
		width: auto;
		margin: auto;
		max-width: 100%;
	}
	img.sponsor-logo {
		width: 24em;
		height: auto;
		max-width: 100%;
		border: none;
		float: none;
		display: block;
		margin: auto;
	}
	img.team-logo {
		display: block;
		float: right;
		border: none;
		margin-top: 0;
	}
}
.primary-section {
	width: 100%;
	background-color: #fff;
	color: black;

	hr {
		border: 2px solid #444444;
	}

	hr.thin {
		border: 1px solid #444444;
		margin:0px;
	}

	img {
		border-color: #444444
	}
	div.team-logo-caption {
	}
}
.secondary-section {
	background-color: #444444;
	color: #fff;

	hr {
		border: 2px solid #ffffff;
	}
}

@media (max-width: 890px) {
	.medium-hr {
		width: 25%;
	}
}
