<html>
	<head>
		{% include headers.html %}
	</head>
	<body>
		{% include navbar-main.html %}
		<div class="bg-img" style="background-image: url('{{ page.image | prepend: "/img/" | prepend: site.baseurl}}');">
			<div class="bg">
				<div class="mission vertical-center move-small">
					{% if page.mission-title %}
					<h1>{{ page.mission-title }} </h1>
					{% endif %}
					{% if page.mission-summary %}
					<hr>
					<p>
						{{ page.mission-summary }}
					</p>
					{% endif %}
				</div>
			</div>
		</div>
		{{ content }}
		{% include contact-us.html %}
		<script src="{{"/js/salvattore.min.js" | prepend: site.baseurl}}"></script>
	</body>
</html>
