<html>
	<head>
		{% include headers.html %}
	</head>
	<body>
		{% include navbar-events.html %}
		<div class="bg-img" style="background-image: url('{{ page.image | prepend: "/img/" | prepend: site.baseurl}}');">
			<div class="bg bg-darker">
				<section class="mission summary vertical-center">
					{% if page.event-date %}
					<h1>{{ page.event-date }} <small>{{ page.event-year }}</small></h1>
					{% endif %}
					<hr>
					{% if page.location-ntrl %}

					<h2> {{page.location-ntrl}} </h2>
					{% endif %}
					<p>
						{{ page.location }}
					</p>
				</section>
			</div>
		</div>
		{{ content }}
		{% include contact-us.html %}
		<script src="{{"/js/salvattore.min.js" | prepend: site.baseurl}}"></script>
	</body>
</html>
